# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env

# OCR models
backend/models/*.onnx
backend/models/*.txt
!backend/models/MODELS.md

# Node / Frontend & Built Assets
node_modules/
dist/
backend/static/
.env.local
.env.development.local
.env.test.local
.env.production.local

backend/tests/fixtures/images/real/
